<footer>
        <p class="p-footer">Hecho por Gonzalo Peñaloza</p>
        <ul>
           <li><a class="btn-foot" href="https://github.com/gonzalo-penaloza" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
           <li><a class="btn-foot" href="https://www.linkedin.com/in/gonzalo-penaloza/" target="_blank"><i
                    class="fa-brands fa-linkedin fa-xl"></i></a></li>
           <li><a class="btn-foot" href="https://www.instagram.com/gonzalopenaloza_/" target="_blank"><i
                    class="fa-brands fa-instagram fa-xl"></i></a></li>
        </ul>
</footer>
